# ----------------------------
# Core Dependencies and Builds
# ----------------------------
node_modules/
dist/
web-build/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.*
expo-env.d.ts

# ----------------------------
# Metro / Debugging
# ----------------------------
.metro-health-check*

# ----------------------------
# Native Build Artifacts
# ----------------------------
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

#Node.js & Firebase functions
/functions/node_modules
/functions/lib
/functions/package-lock.json

#Environment variables
.env
.env.*

#Expo web builds
dist/
web-build/

# ✅ General
.DS_Store
*.log

# macOS / System Files
.DS_Store

# Firebase (optional)
firebaseConfig.js

# JetBrains 
.idea/
*.iml
/shelf/
/workspace.xml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/x
/dataSources.local.xml

# TypeScript
*.tsbuildinfo
