# ----------------------------
# Core Dependencies and Builds
# ----------------------------
node_modules/
dist/
web-build/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.*
expo-env.d.ts

# ----------------------------
# Metro / Debugging
# ----------------------------
.metro-health-check*

# ----------------------------
# Native Build Artifacts
# ----------------------------
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ----------------------------
# macOS / System Files
# ----------------------------
.DS_Store

# ----------------------------
# Local Env Files
# ----------------------------
.env
.env.local
.env.*.local

# ----------------------------
# Firebase (optional)
# ----------------------------
firebaseConfig.ts

# ----------------------------
# JetBrains IDE (WebStorm, IntelliJ, etc.)
# ----------------------------
.idea/
*.iml
/shelf/
/workspace.xml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# ----------------------------
# TypeScript
# ----------------------------
*.tsbuildinfo
